<app-menu></app-menu>
<div class="component">
  <div>
    <span>Request Detail</span>
  </div>
  <p *ngIf='!request'>Waiting...</p>
  <div *ngIf="request">
    <table class="table table-sm form-smaller">
      <tr><td>Id:</td><td>{{ request.id }}</td></tr>
      <tr><td>Description:</td><td>{{ request.description }}</td></tr>
      <tr><td>Justification:</td><td>{{ request.justification }}</td></tr>
      <tr *ngIf="request.rejectionReason"><td>rejectionReason:</td><td>{{ request.rejectionReason }}</td></tr>
      <tr><td>DeliveryMode</td><td>{{ request.deliveryMode }}</td></tr>
      <tr><td>SubmittedDate</td><td>{{ request.submittedDate | date }}</td></tr>
      <tr><td>Status:</td><td>{{ request.status }}</td></tr>
      <tr><td>Total:</td><td>{{ request.total | currency }}</td></tr>
    </table>
    <div>
      <span *ngIf='request.status != "REVIEW" && request.status != "APPROVED"'>
        <button class="btn btn-success" (click)="review()">Review</button> |
      </span>
      <a routerLink="/requests/edit/{{request.id}}" class="btn btn-warning">Edit</a>
      | <button class="btn btn-danger" (click)="delete()">Delete</button>
    </div>
  </div>
</div>
