<app-menu></app-menu>
<div class="component">
  <div>
    <span>Request Lines</span>
    | <a *ngIf="request" routerLink='/reqlines/create/{{ request.Id }}'>Create New</a>
  </div>
  <div *ngIf="request">
    <table class="table table-sm">
      <thead>
        <tr>
          <td>Id</td>
          <td>Description</td>
          <td>Status</td>
          <td>Total</td>
          <td>User</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ request.id }}</td>
          <td>{{ request.description }}</td>
          <td>{{ request.status }}</td>
          <td>{{ request.total | currency }}</td>
          <td>{{ request.user.lastName }}</td>
        </tr>
      </tbody>
    </table>
    <p></p>
    <table class="table table-sm">
      <thead>
        <tr>
          <td>Product</td>
          <td>Quantity</td>
          <td>Subtotal</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reqline of request.reqlines">
          <td>{{ reqline.product.name }}</td>
          <td>{{ reqline.quantity }}</td>
          <td>{{ reqline.product.price * reqline.quantity | currency  }}</td>
          <td>
            <a routerLink='/reqlines/detail/{{reqline.id}}'>Detail</a>
            | <a routerLink='/reqlines/edit/{{reqline.id}}'>Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
